/* Mobile first */
body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url('../assets/finance-background.jpeg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Then tablets, laptops and desktops (768px and up) */
@media screen and (min-width:768px) {
    body {
        /* background-size: cover 100vh;
        background-attachment: fixed; */
        width: 100%;
        height: 100%;
        background: url('../assets/finance-background.jpeg') no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        /* background: url('../assets/finance-background.jpeg') no-repeat center center fixed; */
    }
}

main {
    margin-top: 120px;
}

.navbar-brand {
    margin-left: 30px;
}

.navbar-nav {
    margin-right: 30px;
}

.navbar-toggler {
    margin-right: 30px;
}

#our-way {
    max-width: 700px;
    margin: 0 auto;
}

p {
    text-indent: 30px;
}

table.table {
    text-align: center;
    border-style: solid;
    border-color: rgb(126, 126, 126);
    border-width: 7px;
    color: whitesmoke;
    background-color: rgb(64, 64, 64);
}

.thead-dark {
    background-color: black;
    color: white;
}

table tbody tr th {
    white-space: nowrap;
}

.card {
    margin: 10px;
    width: 18rem;
    text-align: center;
    box-shadow: 12px 15px 15px rgb(0, 0, 0);
}

fieldset.hidden {
    display: none;
}

form input[type=submit] {
    margin-bottom: 30px;
}

.list-group-item:hover {
    cursor: default;
}

.nav-txt:hover {
    color: rgb(87, 214, 253);
}

.is-invalid {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.stock-list-item {
    overflow: hidden;
    animation-name: fontbulger;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.form-control:focus {
    border-color: #5cd4ea;
    box-shadow: 0 0 0 0.2rem #2bc8e4;
}

#search-gif {
    display: default;
}

.hidden {
    display: none;
}

.pop-out-from-hidden {
    animation: popIn 0.5s forwards;
}

.faded {
    animation: fadingOut 0.5s forwards;
}

#search-animation {
    
}



@keyframes shake {
    25% {
        transform:translateX(4px);
        border: 2px solid rgb(170, 0, 0);
    }
    
    50% {
        transform:translateX(-4px);
        border:2px solid rgb(170, 0, 0);
    }
    
    75% {
        transform:translateX(4px);
        border:2px solid rgb(170, 0, 0);
    }
}

@keyframes slideInFromRight {
    0% {
        margin-left: 200%;
    }

    100% {
        overflow: hidden;
        margin-left: 0%;
    }
}

@keyframes fontbulger {
    0%, 100% {
      font-size: 1rem;
    }
    50% {
      font-size: 1.5rem;
    }
  }

@keyframes fadingOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.33;
    }
}

@keyframes popIn {
    0% { 
        opacity: 0; 
        transform: scale(0.5); }
    100% { 
        opacity: 1; 
        transform: scale(1); }
}