body {
    background-color: whitesmoke;
}

main {
    margin-top: 90px;
}

.navbar-brand {
    margin-left: 30px;
    margin-right: 50px;
}

.navbar-nav {
    margin-right: 30px;
}

.navbar-toggler {
    margin-right: 30px;
}

#our-way {
    max-width: 700px;
    margin: 0 auto;
}

p {
    text-indent: 30px;
}

table.table {
    text-align: center;
    border-style: solid;
    border-color: rgb(126, 126, 126);
    border-width: 7px;
}

.thead-dark {
    background-color: black;
    color: white;
}

table tbody tr th {
    white-space: nowrap;
}

.card {
    margin: 10px;
    width: 18rem;
    text-align: center;
}

fieldset.hidden {
    display: none;
}

form input[type=submit] {
    margin-bottom: 30px;
}

.list-group-item:hover {
    cursor: default;
}

.nav-txt:hover {
    color: rgb(87, 214, 253);
}

.is-invalid {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.stock-list-item {
    overflow: hidden;
    animation-name: fontbulger;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}



@keyframes shake {
    25% {
        transform:translateX(4px);
        border: 2px solid rgb(170, 0, 0);
    }
    
    50% {
        transform:translateX(-4px);
        border:2px solid rgb(170, 0, 0);
    }
    
    75% {
        transform:translateX(4px);
        border:2px solid rgb(170, 0, 0);
    }
}

@keyframes slideInFromRight {
    0% {
        margin-left: 200%;
    }

    100% {
        overflow: hidden;
        margin-left: 0%;
    }
}

@keyframes fontbulger {
    0%, 100% {
      font-size: 1rem;
    }
    50% {
      font-size: 1.5rem;
    }
  }