{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">
        <section id="our-way">
            <p>We don't look at stocks like some hot commodity to swap back and forth for an adrenaline rush because they've had some crazy price changes lately. A stock is just a slice of the pie, the entire company being the whole pie. So for starters, just remember that any time we're buying a stock we're behaving as though we want to buy the entire business.</p>
            <p>Now imagine you want to buy a lemonade stand, a business that has to make a profit to stick around. How would you know what a fair price is for that business? You base your decision on how much money it usually makes on any given year. Since some businesses are seasonal, looking at profit numbers on a yearly basis ensures that you will never be overvaluing a summer business (like an ice cream truck) because it's been hot lately or a winter business (like snow-shoveling) because we just had a blizzard.</p>
            <p>So now the next question you might be asking yourself is , "Ok, well how many years of profit is a business worth?" A good number is 8 times a companies usual profit on any given year. This effective strategy covers you in two ways. By default you won't be buying into companies that haven't actually been making money. You also won't get reamed by somebody trying to get you to overpay for their business.</p>
            <p>This last part is the icing on the cake (or pie, or whatever). What if you have 20 lemonade stands all willing to sell you their entire company for less than 8 years of their profits and you could only afford to buy 5 of them? Well, you just pick the top 5 that give you the most bang for your buck. More specifically, buy the 5 giving you the most profit for every dollar you pay. This process of buying 5 profitable companies that are all on sale for a great price is what's called "diversification". Basically, if one of the companies has a run of bad luck you still got 4 great ones to cover you.</p>
            <p>We hope you enjoy using the tools in Stockpile to help you find those 5 great businesses to build your financial future on. Happy hunting.<br><br>
            - Casey Jones</p>
        </section>
    </div>
{% endblock %}