{% layout 'layout.liquid' %}

{% block content %}
    <div>
        <h2 class="display-6">
            My Portfolios &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/title/portfolios/new" class="btn btn-info">Add A Portfolio</a>
        </h2>
    </div>
{% endblock %}