{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">

        {% if invalidUser == true %}
            <form action="/users/login" method="POST">
                <fieldset>
                    <legend style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Welcome back. Please log in here</legend>
                    <label class="form-label" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Username:</label>
                    <input 
                        type="text" 
                        name="username" 
                        class="form-control is-invalid"
                        autocomplete="off"
                    >
                    <div class="invalid-feedback" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: red;">
                        Enter valid username
                    </div>
                    <label class="form-label" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Password:</label>
                    <input 
                        type="password" 
                        name="password" 
                        class="form-control is-invalid"
                        autocomplete="off"
                    >
                    <div class="invalid-feedback" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: red;">
                        Enter valid password
                    </div>
                </fieldset>
                <input 
                    type="submit" 
                    value="Retry" 
                    class="btn btn-secondary"
                    style="margin-top: 5px; width: 100px;"
                >
            </form>
        
        {% elsif invalidPassword == true %}
            <form action="/users/login" method="POST">
                <fieldset>
                    <legend style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Welcome back. Please log in here</legend>
                    <label class="form-label" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Username:</label>
                    <input 
                        type="text" 
                        name="username" 
                        class="form-control"
                        autocomplete="off"
                        value="{{validUser}}"
                    >
                    <div>
                        &nbsp;
                    </div>
                    <label class="form-label" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Password:</label>
                    <input 
                        type="password" 
                        name="password" 
                        class="form-control is-invalid"
                        autocomplete="off"
                    >
                    <div class="invalid-feedback" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: red;">
                        Enter valid password
                    </div>
                </fieldset>
                <input 
                    type="submit" 
                    value="Retry" 
                    class="btn btn-secondary"
                    style="margin-top: 5px; width: 100px;"
                >
            </form>
        
        {% else %}
            <form action="/users/login" method="POST">
                <fieldset>
                    <legend style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Welcome back. Please log in here</legend>
                    <label class="form-label" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Username:</label>
                    <input 
                        type="text" 
                        name="username" 
                        class="form-control"
                        autocomplete="off"
                    >
                    <div>
                        &nbsp;
                    </div>
                    <label class="form-label" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Password:</label>
                    <input 
                        type="password" 
                        name="password" 
                        class="form-control"
                        autocomplete="off"
                    >
                    <div>
                        &nbsp;
                    </div>
                </fieldset>
                <input 
                    type="submit" 
                    value="Log In" 
                    class="btn btn-secondary"
                    style="margin-top: 5px; width: 100px;"
                >
            </form>
        {% endif %}

    </div>

{% endblock %}