{% layout 'layout.liquid' %}

{% block content %}
    <div class="container md">
        <form action="/users/signup" method="POST">
            <fieldset>
                <legend style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Sign up here</legend>
                <label class="form-label" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Username:</label>
                <input 
                    type="text" 
                    name="username" 
                    class="form-control"
                    autocomplete="off"
                    required
                >
                <div>
                    &nbsp;
                </div>
                <label class="form-label" style="text-shadow: rgb(0, 213, 255) 1px 0 10px; color: white;">Password:</label>
                <input 
                    type="password" 
                    name="password" 
                    class="form-control"
                    autocomplete="off"
                    required
                >
                <div>
                    &nbsp;
                </div>
            </fieldset>
            <input 
                type="submit" 
                value="Sign Up" 
                class="btn btn-secondary"
                style="margin-top: 5px; width: 100px"
            >
        </form>
    </div>
{% endblock %}