body {
    background-color: whitesmoke;
}

main {
    margin-top: 120px;
}

.navbar-brand {
    margin-left: 30px;
    margin-right: 50px;
}

.navbar-nav {
    margin-right: 30px;
}

.navbar-toggler {
    margin-right: 30px;
}

#our-way {
    max-width: 700px;
    margin: 0 auto;
}

p {
    text-indent: 30px;
}

table.table {
    text-align: center;
    border-style: solid;
    border-color: rgb(126, 126, 126);
    border-width: 7px;
}

.thead-dark {
    background-color: black;
    color: white;
}

table tbody tr th {
    white-space: nowrap;
}

.card {
    margin: 10px;
    width: 18rem;
    text-align: center;
}

fieldset.hidden {
    display: none;
}

form input[type=submit] {
    margin-bottom: 30px;
}